.idea/
*.tar
__pycache__/

lightning_logs

.ipynb_checkpoints/

.DS_Store

.vscode/
.env
.logs/
wandb/
**.svg
**.npy
**.pkl
**.log
**.ckpt
/ProteinMPNN/ca_model_weights/*.pt
/ProteinMPNN/vanilla_model_weights/*.pt
/results_downloaded*
tmp/*
*.fasta
inference/*
build/*
__MACOSX/
configs/experiment_config/generated*/
foldseek_tmp/
proteina_additional_files/
samples*/
*.egg0info
*.egg-info
logs/
store/
inference_runs/
